/* global variables */
:root{
  --bg-color:#25283d;
  --txt-primary:#fff;
  --txt-hover:#ff17e4;
  --icon-primary:#86fbfb;
  --icon-hover:#9f1d35;
  --font-size:1.3em;
}
/* beginning of the nav element */
body{
  padding:0;
  margin:0;
  background-color:black;
  color:var(--txt-primary);
  font-size:var(--dont-size);
}

nav{
  font-size:80%;
  padding:1rem;
  display:flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items:center;
  gap: 2rem
/*     gap can be used on flexbox */
}
nav a:first-child{
  flex-basis:100%; /*The flex-basis property specifies the initial length of a flexible item.*/
  text-align:center;
  font-size:150%;
  font-weight:bolder;
}
nav a{
  color:var(--txt-primary);
  text-decoration:none;
  display:block;
}
a{
  font-size:1.2em;
}
.egg{
  text-decoration: none;
  color:white;
}
nav a:hover{
  color:var(--txt-hover);
}

nav [class*="fa-"]{
  font-size:150%;
  color:var(--icon-primary);
}

nav a:hover, nav [class*="fa-"]:hover{
  color:var(--icon-hover);
}

.button{
  color:var(--txt-primary);
  background-color:var(--txt-hover);
  padding:.5rem;
  border-radius:5px;
}
span{
  font-size:1em;
}
.button:hover{
  color:var(--txt-primary);
  background-color:var(--icon-hover);
}
/* end of the nav element */
header{
  background:var(--bg-color);
}
footer{
  background:var(--bg-color);
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
h1{
  color:white;
}
main{
  background:black;
  height:80vh;
  display:grid;
  width:60%;
  margin:0 auto;
  grid-template-columns: repeat(2, 1fr);
  gap:10px;
  grid-template-rows:repeat(2,minmax(100px, auto));

}
.container{
  text-align: center;
}
.main-container{
  width:40%

}
/* start of the splash screen */
.splashp{
  font-size:2em;
  border: 4px solid #ff6f59;
}
.splashh2{
  font-size: 3em
}
/* end of splash screen */

/* for the about me page */
p{
  font-size:1.2em;
  text-align:center;
  margin:0;
  padding:0;
}
h3{
  text-align:center;
}
.p-border{
  border: 4px solid #ff6f59;
  margin:20px;
  padding:10px;
  line-height:1.5em;
}
#top-left{
  grid-column:1/3;
  grid-row:1/2;
  border: 4px solid #ff6f59;
  margin-top:40px;
  text-align:center;
}
.img-topper{
  max-width:30%;
  height:auto;
}
/* end of the about me page */

/* start of best work */
.alternative-main{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  height:90%;
}
figure{
  width:500px;
}
.img-topper-best{
  max-width:100%;
  height:auto;
}
video{
  max-width:100%;
  height:auto;
}
/* end of best work */

/* start of resume */

summary{
  font-size:2.5em;
}
h2{
 text-align:center;
}

/* end of resume */

/* start of funfact */

/* end of funfact */
@media screen and (max-width:790px){
  /*I am making this a tiny bit bigger since the way it is designed makes it look bad just before the breakpoint actually happens*/
  summary{
    font-size:1.5em;
  }
  span{
    font-size:.5em;
  }
  i{
    font-size:.5em
  }
  main{
    background:black;
    height:80vh;
    display:flex;
    justify-content: center;
  }
  p{
    font-size:.8em;
    text-align:center;
  }
  h3{
    text-align: center;
  }
  .p-border{
    border: 2px solid #ff6f59;
  }
  #top-left /*this becomes Top-Middile only putting this comment here for future notes*/{
    border: 2px solid #ff6f59;
    margin-top:40px;
    margin-right:40px;
    text-align:center;
  }
  .p-border{
    font-size: 10px;
  }
  .img-topper{
    max-width:60%;
    height:auto
  }
  #top-right{
    display:none;
    grid-column:2/3;
    border: 2px solid #ff6f59;
    margin-top:40px;
    margin-left:40px;
    text-align:center;
  }
  #bottom-left/*This becomes Top-Left*/{
    display:none;
    grid-column:1/2;
    border: 2px solid #ff6f59;
    margin-top:40px;
    margin-left:40px;
    margin-bottom:10px;
    text-align:center;

  }
  #bottom-right{
    display:none;
    grid-column:2/3;
    border: 2px solid #ff6f59;
    margin-top:40px;
    margin-left:40px;
    margin-bottom:10px;
    text-align:center;
  }
  .splashp{
    font-size:10px;
  }
  .splashh2{
    font-size:14px;
  }
}
@media screen and (max-width:245px){
  p{
    font-size:.67em;
  }

}
